POSTGRES_DB=qlc_stream
POSTGRES_USER=qlc_stream
POSTGRES_PASSWORD=qlc_stream_local
TMDB_API_TOKEN=
PROWLARR_BASE_URL=
PROWLARR_API_KEY=
QBITTORRENT_BASE_URL=
QBITTORRENT_USERNAME=
QBITTORRENT_PASSWORD=
MEDIA_HOST_PATH=./data/media
